# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java projects\midi_piano_starter_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
